//
// Demo Config
//




// State colors
$kt-state-colors: (
    // Keen states
    brand: (
        base: #385aeb,
        inverse: #ffffff
    ),
    metal: (
        base: #d3dae6, 
        inverse: #586272
    ),  
    light: (
        base: #ffffff,
        inverse: #282a3c 
    ),
    dark: (
        base: lighten(#4c467a, 12%),
        inverse: #ffffff 
    ),
    accent: (
        base: #00c5dc,
        inverse: #ffffff 
    ),
    focus: (
        base: #9816f4,
        inverse: #ffffff 
    ),

    // Bootstrap states
    primary: (
        base: #5867dd,
        inverse: #ffffff
    ),
    success: (
        base: #1dc9b7,
        inverse: #ffffff
    ),
    info: (
        base: #5578eb,
        inverse: #ffffff
    ),
    warning: (
        base: #ffb822,
        inverse: #111111
    ),
    danger: (
        base: #fd397a,
        inverse: #ffffff
    )    
);

// Layout
$kt-aside-default-width: 245px;
$kt-aside-offcanvas-width: 255px;

// Page padding
$kt-page-padding: (
	desktop: 30px,
	mobile: 15px
);

// Page container
$kt-page-container-width: 1380px; //  fixed page width
$kt-page-fluid-container-padding: 60px; // fluid page padding

// Body
$kt-page-content-bg-color: #f9f9fc; // page content bg color
$kt-page-body-bg-color: #efeff5;  // page body bg color

// Layout mixins
@mixin kt-page-fluid-mode {
	@media (min-width: #{$kt-page-container-width + (2 * $kt-page-fluid-container-padding) - 1px}) {
        @content;
    }
}