//
// Header
//



$kt-subheader-config: (
	default: (
		height: (
			desktop: 60px,
			mobile: 50px 
		),
		bg-color: #ffffff,
		shadow: 0px 0px 40px 0px rgba(82,63,105,0.05),

		toggler: (
			width: 24px,
			height: 24px,  
			transition-duration: 0.4s,
			thickness: 3px,
			space: 6px, 
			radius: 2px,
			color: (
				default: #a19fb5,
				hover: kt-brand-color(),
				active: kt-brand-color()
			)
		)
	),
	
	fixed: (		 
		zindex: 97
	)
)