//
// Error 404 v1
//




// Custom pages SASS files are compiled per demo as 
// each demo has own config settings that may override the global theme config
// and pages may slighty different on demos


// Global theme config(sass/theme/core/config.scss)
@import "../../config";

// Demo config(e.g: sass/theme/demos/demo1/config.scss) that overrides global theme config. 
// Do not change this path, build tool automatically finds current demo's config file.    
@import "config.scss";

// Component config
$kt-error404-v1-title-color: #fb2f73;

.kt-error404-v1{
	display:flex;
	flex:1;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;

	@include kt-mobile{
		padding: 2rem;
		align-items:stretch;
	}	

	.kt-error404-v1__content{
		display: flex;
		justify-content: flex-start;
		flex-direction:column;

		@include kt-mobile{
			justify-content: center;
			align-items: center;
		}
		
		.kt-error404-v1__title{
			font-size: 12rem;
			color: $kt-error404-v1-title-color;
			font-weight: 700;
		}

		.kt-error404-v1__desc{
			font-size: 1.5rem;
		}
	}

	.kt-error404-v1__image{
		width:50%;
		position:relative;

		@include kt-mobile{
			width:100%;
			flex-basis: 100%;
		}

		.kt-error404-v1__image-content{
			width:100%;
		}
	}
}