//
// Footer
//



// General mode
.kt-footer {
	align-items: center;
	justify-content: space-between;
    padding: 0;
    margin: 0;   
    background: #191b2a; 

    .kt-footer__bottom {
    	display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 0;

    	.kt-footer__copyright {
			display: flex;
			margin: 0;
			padding: 0 1.25rem 0 0;
			font-size: 1rem;
			font-weight: 400;
			color: #6f7286;
			justify-content: flex-start;

			> a {
				@include kt-link-color(lighten(#6f7286, 3%), kt-brand-color());
			}			
		}

		.kt-footer__menu {
			display: flex;
			justify-content: flex-end;
			padding: 0 0 0 1rem;
			margin: 0;

			a {
				margin: 0 0 0 1.25rem;
				padding: 0;
				font-size: 1.05rem;
				font-weight: 400;
				
				@include kt-link-color(darken(#ffffff, 6%), kt-brand-color());
			}
		}
    }	
}

// Above 1200px
@include kt-media-above(xl) {
	.kt-footer {
		padding: 1.2rem 0;
	}
}

// Below 1200px
@include kt-media-below(xl) {
	.kt-footer {
		.kt-footer__bottom {
			padding: 2rem 0;
		}
	}
}

// Desktop mode
@include kt-desktop {
	.kt-footer {
		// Fixed aside mode
		.kt-aside--enabled.kt-aside--fixed & {
			position: relative;
			z-index: kt-get($kt-aside-config, base, fixed, zindex) + 1;
		}
	}		
}

// Tablet & mobile mode
@include kt-tablet-and-mobile() {
	.kt-footer {
		margin: 0;
		padding: 0;		

		.kt-footer__bottom {
			padding: 1rem 0;
		}
	}
}

// Mobile
@include kt-mobile() {
	.kt-footer {
		flex-direction: column;
		justify-content: center;	

		.kt-footer__bottom {
			display: flex;
			flex-direction: column;
			padding: 1.5rem 0;

			.kt-footer__copyright {
				justify-content: center;
				padding: 0;
				order: 2;
			}

			.kt-footer__menu {
				justify-content: center;
				order: 1;
				padding: 0;
				margin:  0 0 0.75rem 0;

				a {
					&:first-child {
						padding-left: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
}