<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Sparrow | Look like an expert right from the start</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="../../assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="../../assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="../../assets/lib/prismjs/prism.css" rel="stylesheet">
    <link href="../../assets/css/theme.css" rel="stylesheet">

  </head>


  <body class="has-sidemenu overflow-hidden-x">


    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
      data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="../../index.html">
          <img class="fancynavbar-brand-img" src="../../assets/img/logo-sparrow-invert.svg" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"
          />

          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-3'></span>-->
          <!--<span class='logo-sparrow'>S</span>--></a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
          <a class="fancynavbar-addon-item" href="#"><span class="fab fa-twitter"></span></a>
          <a class="fancynavbar-addon-item" href="#" data-remodal-target="language"><span class="text-sans-serif ls font-weight-black fs--1">EN</span></a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
          <li class="fancynav-item fancy-dropdown">
            <a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">homes</span></a>
            <div class="fancy-dropdown-menu">
              <div class="row pb-4 pt-3">
                <div class="col-auto">
                  <a class="fancy-dropdown-item" href="../../home-default.html">Default</a>
                  <a class="fancy-dropdown-item" href="../../home-bicycle.html">Bicycle</a>
                  <a class="fancy-dropdown-item" href="../../home-bigcartel.html">Bigcartel</a>
                  <a class="fancy-dropdown-item" href="../../home-cafe.html">Cafe</a>
                  <a class="fancy-dropdown-item" href="../../home-digital.html">Digital</a>
                  <a class="fancy-dropdown-item" href="../../home-ecommerce.html">Ecommerce</a>
                  <a class="fancy-dropdown-item" href="../../home-event.html">Event</a>
                  <a class="fancy-dropdown-item" href="../../home-interior.html">Interior</a>
                  <a class="fancy-dropdown-item" href="../../home-landing.html">Landing</a>
                  <a class="fancy-dropdown-item" href="../../home-promotion.html">Promotion</a>
                  <a class="fancy-dropdown-item" href="../../home-software.html">Software</a>
                  <a class="fancy-dropdown-item" href="../../home-studio.html">Studio</a>
                </div>
              </div>
            </div>
          </li>
          <li class="fancynav-item fancy-dropdown">
            <a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">pages</span></a>
            <div class="fancy-dropdown-menu">
              <div class="row pb-4 pt-3">
                <div class="col-sm-auto pr-4">
                  <a class="fancy-dropdown-item" href="../../page-404.html">404</a>
                  <a class="fancy-dropdown-item" href="../../page-about.html">About</a>
                  <a class="fancy-dropdown-item" href="../../page-blog.html">Blog</a>
                  <a class="fancy-dropdown-item" href="../../page-blog-single.html">Blog single</a>
                  <a class="fancy-dropdown-item" href="../../page-cart.html">Cart</a>
                  <a class="fancy-dropdown-item" href="../../page-casestudy.html">Casestudy</a>
                  <a class="fancy-dropdown-item" href="../../page-coming-soon.html">Coming soon</a>
                  <a class="fancy-dropdown-item" href="../../page-contact.html">Contact</a>
                  <a class="fancy-dropdown-item" href="../../page-one-page.html">One page</a>
                  <a class="fancy-dropdown-item" href="../../page-portfolio.html">Portfolio</a>
                </div>
                <div class="col-sm-auto pr-4">
                  <a class="fancy-dropdown-item" href="../../page-profile.html">Profile</a>
                  <a class="fancy-dropdown-item" href="../../page-rtl.html">RTL</a>
                  <a class="fancy-dropdown-item" href="../../page-services.html">Services</a>
                  <a class="fancy-dropdown-item" href="../../page-shop.html">Shop</a>
                  <a class="fancy-dropdown-item" href="../../page-signin.html">Signin</a>
                  <a class="fancy-dropdown-item" href="../../page-signup.html">Signup</a>
                  <a class="fancy-dropdown-item" href="../../page-product-single.html">Product single</a>
                  <a class="fancy-dropdown-item" href="../../page-split-static.html">Split static</a>
                  <a class="fancy-dropdown-item" href="../../page-split-youtube.html">Split youtube</a>
                  <a class="fancy-dropdown-item" href="../../page-starter.html">Starter</a>
                </div>
              </div>
            </div>
          </li>
          <li class="fancynav-item fancy-dropdown">
            <a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">components</span></a>
            <div class="fancy-dropdown-menu">
              <div class="row pb-2 pt-3">
                <div class="col-sm-auto mb-3">
                  <div class="row">
                    <div class="col-sm-auto pr-4">
                      <a class="fancy-dropdown-item text-white font-weight-black ls text-uppercase fs--1 mb-1" href="JavaScript:void(0)">Sparrow</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/accordion.html">Accordion</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/backgrounds.html">Backgrounds</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/borders.html">Borders</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/carousel.html">Carousel</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/colors.html">Colors</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/countdown.html">Countdown</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/countup.html">Countup</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/fancybox.html">Fancybox</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/fancynav.html">Fancynav</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/fancyscroll.html">Fancyscroll</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/fancytabs.html">Fancytabs</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/filter.html">Filter</a>
                    </div>
                    <div class="col-sm-auto pr-4">
                      <a class="fancy-dropdown-item" href="../../components/sparrow/forms.html">Forms</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/googlemap.html">Googlemap</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/icons.html">Icons</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/inline-player.html">Inline player</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/lightbox.html">Lightbox</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/masonry.html">Masonry</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/modals.html">Modals</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/parallax.html">Parallax</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/progressbar.html">Progressbar</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/spacing.html">Spacing</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/typed-text.html">Typed text</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/typography.html">Typography</a>
                      <a class="fancy-dropdown-item" href="../../components/sparrow/zanimation.html">Zanimation</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto pr-4 mb-3">
                  <a class="fancy-dropdown-item text-white font-weight-black ls text-uppercase fs--1 mb-1" href="JavaScript:void(0)">Bootstrap</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/badges.html">Badges</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/buttons.html">Buttons</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/cards.html">Cards</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/forms.html">Forms</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/navbar.html">Navbar</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/scrollspy.html">Scrollspy</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/sizing.html">Sizing</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/tables.html">Tables</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/tabs.html">Tabs</a>
                  <a class="fancy-dropdown-item" href="../../components/bootstrap/tooltips.html">Tooltips</a>
                </div>
              </div>
            </div>
          </li>
          <li class="fancynav-item fancy-dropdown">
            <a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">documentation</span></a>
            <div class="fancy-dropdown-menu">
              <div class="row pb-4 pt-3">
                <div class="col-auto">
                  <a class="fancy-dropdown-item" href="../../documentation/getting-started.html">Getting started</a>
                  <a class="fancy-dropdown-item" href="../../documentation/file-structure.html">File structure</a>
                  <a class="fancy-dropdown-item" href="../../documentation/customization.html">Customization</a>
                  <a class="fancy-dropdown-item" href="../../documentation/gulp.html">Gulp</a>
                  <a class="fancy-dropdown-item" href="../../documentation/RTL.html">RTL</a>
                  <a class="fancy-dropdown-item" href="../../documentation/plugins.html">Plugins</a>
                  <a class="fancy-dropdown-item" href="../../documentation/changelog.html">Changelog</a>
                </div>
              </div>
            </div>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="../../page-portfolio.html"><span class="fancynav-link-content">portfolio</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="../../page-contact.html"><span class="fancynav-link-content">contact</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light pt-8 pb-7 pt-lg-6 pb-lg-5 pt-xl-8 pb-xl-7">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h1 class="fs-3 fs-sm-4">Scroll to</h1>
              <p class="lead">These modular elements can be readily used and customized in every layout across pages.</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

        <div class="container">
          <div class="row justify-content-between">
            <div class="d-none d-lg-block col">
              <div class="sticky-kit py-6">
                <ul class="components-nav list-unstyled" id="components-nav">
                  <li>
                    <h5>bootstrap</h5>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/badges.html">Badges</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/buttons.html">Buttons</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/cards.html">Cards</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/forms.html">Forms</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/navbar.html">Navbar</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/scrollspy.html">Scrollspy</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/sizing.html">Sizing</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/tables.html">Tables</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/tabs.html">Tabs</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/bootstrap/tooltips.html">Tooltips</a>
                  </li>
                  <li>
                    <h5 class="mt-4">sparrow</h5>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/accordion.html">Accordion</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/backgrounds.html">Backgrounds</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/borders.html">Borders</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/carousel.html">Carousel</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/colors.html">Colors</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/countdown.html">Countdown</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/countup.html">Countup</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/fancybox.html">Fancybox</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/fancynav.html">Fancynav</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/fancyscroll.html">Fancyscroll</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/fancytabs.html">Fancytabs</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/filter.html">Filter</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/forms.html">Forms</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/googlemap.html">Googlemap</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/icons.html">Icons</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/inline-player.html">Inline player</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/lightbox.html">Lightbox</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/masonry.html">Masonry</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/modals.html">Modals</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/parallax.html">Parallax</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/progressbar.html">Progressbar</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/spacing.html">Spacing</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/typed-text.html">Typed text</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/typography.html">Typography</a>
                  </li>
                  <li>
                    <a class="text-800" href="../../components/sparrow/zanimation.html">Zanimation</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-10 py-6">
              <p>Sparrow includes a smooth scrolling plugin which allows you to animate the page's scrolling to elements within the page. The markup snippet below demonstrates:</p>
              <a href="#example-section" data-fancyscroll data-offset="60">Scroll to the #example-section below</a>
              <pre class="mt-5"><code class="lang-html">&lt;a href=&quot;#example-section&quot; data-fancyscroll=&quot;true&quot; data-offset=&quot;60&quot;&gt;
	example section
&lt;/a&gt;
&lt;section id=&quot;example-section&quot;&gt;
	...
&lt;/section&gt;
</code></pre>
              <div class="mt-11" id="example-section">
                <h4 class="my-4">The above link will scroll to this section.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
          </div>
          <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
              Copyright &copy; 2018 Sparrow&trade; inc.</p>
          </div>
          <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="text-danger fas fa-heart mx-1"></span>by
              <a class="text-600" href="https://themewagon.com/">Themewagon</a>
            </p>
          </div>
        </div>
      </div>
    </footer>


    <!--===============================================-->
    <!--    Modal for language selection-->
    <!--===============================================-->
    <div class="remodal bg-black remodal-select-language" data-remodal-id="language">
      <div class="remodal-close" data-remodal-action="close"></div>
      <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
        <li>
          <a class="pt-1 d-block text-white font-weight-semi-bold" href="#">English</a>
        </li>
        <li>
          <a class="pt-1 d-block text-500" href="#">Français</a>
        </li>
        <li>
          <a class="pt-1 d-block text-500" href="page-rtl.html">عربى</a>
        </li>
        <li>
          <a class="pt-1 d-block text-500" href="#">Deutsche</a>
        </li>
      </ul>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../../assets/js/stickyfill.min.js"></script>
    <script src="../../assets/lib/remodal/remodal.js"></script>
    <script src="../../assets/lib/jtap/jquery.tap.js"></script>
    <script src="../../assets/js/rellax.min.js"></script>
    <script src="../../assets/lib/prismjs/prism.js"></script>
    <script src="../../assets/js/stickyfill.min.js"></script>
    <script src="../../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../../assets/js/theme.js"></script>

  </body>

</html>