@import 'plugins/loaders';
@import 'plugins/fancybox';
@import 'plugins/isotope';
@import 'plugins/lightbox';
@import 'plugins/plyr';
@import 'plugins/progressbar';
@import 'plugins/remodal';
@import 'plugins/typed-text';
@import 'plugins/owl.carousel';
@import 'plugins/semantic';
@import 'plugins/yt-player';
